<app-dialog dialogTitle="Placement" (onSave)="onSave()" (onCancel)="onCancel()">
  <div CONTENT>
    <generic-form
      [fieldConfigs]="formConfig"
      (submitForm)="onSave()"
      (formStatus)="isFormValid.set($event)"
      (formChanges)="placement.set($event)"
    >
      <div CUSTOM_FIELD class="col-6">
        <div class="w-100">
          <auto-complete
            label="Book"
            placeholder="Search ..."
            [autoCompleteType]="autoCompleteType"
            (onSelectOption)="onSelectBook($event)"
            [clearOnSelect]="false"
            [initialVal]="placement()?.book?.title"
            (onClear)="onClearBook()"
          ></auto-complete>
        </div>
      </div>
    </generic-form>
  </div>
</app-dialog>
