<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title font-weight-bold d-flex align-items-center justify-content-between">
              <span>Books</span>
              <div>
                <button mat-flat-button color="primary" (click)="onAdd()">Add</button>
              </div>
            </h3>
            <table mat-table [dataSource]="dataSource" class="w-100">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let val"> {{val?.name}} </td>
              </ng-container>
              <ng-container matColumnDef="penerbit">
                <th mat-header-cell *matHeaderCellDef>Penerbit</th>
                <td mat-cell *matCellDef="let val"> {{val?.penerbit}} </td>
              </ng-container>
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let val"> {{val?.date}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>